/* PRIMARY COLORS */
.color-techgold {
  background-color: #b3a369;
}
.color-navyblue {
  background-color: #003057;
}
.color-white {
  background-color: #ffffff;
}
.text-techgold {
  color: #b3a369;
}
.text-navyblue {
  color: #003057;
}
.text-white {
  color: #ffffff;
}

/* SECONDARY COLORS */
.color-graymatter {
  background-color: #54585a;
}
.color-pimile {
  background-color: #d6dbd4;
}
.color-diploma {
  background-color: #f9f6e5;
}
.color-buzzgold {
  background-color: #eaaa00;
}
.text-graymatter {
  color: #54585a;
}
.text-pimile {
  color: #d6dbd4;
}
.text-diploma {
  color: #f9f6e5;
}
.text-buzzgold {
  color: #eaaa00;
}

/* NAVIGATION BAR */
#nav-bar a {
  color: #54585a;
}
.brand-logo {
  display: flex !important;
  color: #54585a;
  white-space: nowrap;
}
.nav-bar-logo {
  width: 48px;
  height: 48px;
}
.nav-bar-logo-title {
  color: #54585a;
}
@media only screen and (min-width: 0) {
  .brand-logo {
    height: 56px;
  }
  .nav-bar-logo {
    margin: 4px;
  }
}
@media only screen and (min-width: 601px) {
  .brand-logo {
    height: 64px;
  }
  .nav-bar-logo {
    margin: 8px;
  }
}

/* CAROUSEL */
.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item-container {
  display: flex;
  height: 360px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.carousel-img {
  width: fit-content !important;
  max-width: 70vw;
  max-height: 300px;
  border-radius: 6px;
  object-fit: contain;
  overflow: hidden;
}
.carousel-caption {
  margin-top: 6px;
  font-size: 10pt;
  max-width: 70vw;
  color: #54585a;
}
.carousel .indicators {
  height: 32px;
  width: fit-content;
  margin: auto;
  padding: 0px 6px;
  border-radius: 6px;
  background-color: #54585a;
}
.carousel .indicators .indicator-item {
  margin: 12px 6px 0px 6px;
}

/* OTHER */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
