/* PRIMARY COLORS */
.color-techgold {
  background-color: #b3a369;
}
.color-navyblue {
  background-color: #003057;
}
.color-white {
  background-color: #ffffff;
}
.text-techgold {
  color: #b3a369;
}
.text-navyblue {
  color: #003057;
}
.text-white {
  color: #ffffff;
}

/* SECONDARY COLORS */
.color-graymatter {
  background-color: #54585a;
}
.color-pimile {
  background-color: #d6dbd4;
}
.color-diploma {
  background-color: #f9f6e5;
}
.color-buzzgold {
  background-color: #eaaa00;
}
.text-graymatter {
  color: #54585a;
}
.text-pimile {
  color: #d6dbd4;
}
.text-diploma {
  color: #f9f6e5;
}
.text-buzzgold {
  color: #eaaa00;
}

/* NAVIGATION */
#nav a {
  color: #54585a;
}
.brand-logo {
  display: flex !important;
  color: #54585a;
  white-space: nowrap;
}
.nav-bar-logo {
  width: 48px;
  height: 48px;
}
.nav-bar-logo-title {
  color: #54585a;
}
@media only screen and (min-width: 0) {
  .brand-logo {
    height: 56px;
  }
  .nav-bar-logo {
    margin: 4px;
  }
}
@media only screen and (min-width: 601px) {
  .brand-logo {
    height: 64px;
  }
  .nav-bar-logo {
    margin: 8px;
  }
}

/* CAROUSEL */
.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item-container {
  display: flex;
  height: 360px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.carousel-img {
  max-width: 70vw;
  max-height: 300px;
  border-radius: 6px;
  object-fit: contain;
  overflow: hidden;
}
.carousel-caption {
  margin-top: 6px;
  font-size: 10pt;
  max-width: 70vw;
  color: #54585a;
}
.carousel .indicators {
  width: fit-content !important;
  width: -moz-fit-content !important;
  height: 32px;
  margin: auto;
  padding: 0px 6px;
  border-radius: 6px;
  background-color: #54585a;
}
.carousel .indicators .indicator-item {
  margin: 12px 6px 0px 6px;
}

/* HEADER */
@media only screen and (max-width: 601px) {
  .header-text {
    text-align: center;
  }
}
.header-logo {
  display: inline-block;
  height: 64px;
  vertical-align: middle;
}

/* DESCRIPTION */
.section-description p {
  margin: 0;
}
.section-description ul {
  margin: 0.5rem 0 0.5rem 2rem;
}
.section-description li {
  list-style-type: disc !important;
}

/* NEWS */
.news-item {
  display: flex;
  flex-flow: column nowrap;
}
.news-item-date {
  font-weight: 600;
  font-style: italic;
  flex-shrink: 0;
}
.news-item-text {
}

/* PEOPLE */
.people-card-container {
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (max-width: 601px) {
  .people-card-container {
    justify-content: center;
  }
}
.people-card {
  display: flex;
  flex-flow: column nowrap;
  max-width: 160px;
  margin: 12px 4px;
}
@media only screen and (max-width: 601px) {
  .people-card {
    max-width: 116px;
    margin: 12px 4px;
  }
}
.people-card-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
}
@media only screen and (max-width: 601px) {
  .people-card-img {
    width: 116px;
    height: 116px;
  }
}
.people-card .card-image .card-title {
  font-size: 11pt;
  font-weight: 600;
  text-shadow: 1px 1px 3px #000000;
  padding: 0.5rem;
}
.people-card .card-content {
  padding: 12px;
  flex-grow: 1;
}
.people-card .card-action {
  padding: 12px;
}
.people-card-name {
  color: #54585a;
  font-weight: 700;
  font-size: 11pt;
  margin-bottom: 4px;
}
.people-card-title {
  color: #54585a;
  font-weight: 500;
  font-size: 10pt;
}
.people-card-keywords {
  font-size: 9pt;
}
.people-card .card-action a {
  margin-right: 4px !important;
  color: #eaaa00 !important;
}
.people-card .card-action i {
  font-size: 16px;
}
.people-card .card-action img {
  display: inline;
  width: 16px;
}
.people-alumni-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 192px));
}

/* OTHER */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
