/* BODY */
body {
  background: center / cover no-repeat fixed url("/assets/images/techsquare.png");
}

/* NAVIGATION */
#nav {
  background-color: #a4925a;
  position: relative;
}
#nav a:hover {
  text-decoration: none;
}
#nav ul li.active {
  background-color: rgba(0 0 0 / 0%);
}
#nav ul li a {
  display: inline-block;
  padding: 0;
  margin: 0 12px;
  line-height: 2em;
  font-weight: 600;
  color: white;
  transition: border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}
#nav ul li.active a {
  border-bottom-color: #f0b310;
}
#nav ul li a:hover {
  background-color: unset;
  border-bottom-color: #f0b310;
}
.brand-logo {
  display: flex !important;
  white-space: nowrap;
}
.nav-bar-logo {
  width: 48px;
  height: 48px;
}
.nav-bar-logo-title {
  font-weight: 600;
  color: white;
}
@media only screen and (min-width: 0) {
  .brand-logo {
    height: 56px;
  }
  .nav-bar-logo {
    margin: 4px;
  }
}
@media only screen and (min-width: 601px) {
  .brand-logo {
    height: 64px;
  }
  .nav-bar-logo {
    margin: 8px;
  }
}
.sidenav-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidenav-logo-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255 255 255 / 90%);
}
.sidenav-logo {
  width: 48px;
  height: 48px;
  position: relative;
  top: 8px;
  left: 8px;
}

/* PAGE CONTENT */
.page-content-container {
  padding: 12px 36px;
  min-height: calc(100vh - 64px);
  background: rgba(255 255 255 / 90%);
  box-shadow: 0 0 4px 4px rgb(255 255 255 / 90%);
}
@media only screen and (max-width: 601px) {
  .page-content-container {
    padding: 12px;
  }
}

/* CAROUSEL */
.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item-container {
  display: flex;
  height: 360px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.carousel-img {
  max-width: 70vw;
  max-height: 300px;
  border-radius: 6px;
  object-fit: contain;
  overflow: hidden;
}
.carousel-caption {
  margin-top: 6px;
  font-size: 10pt;
  font-weight: 600;
  max-width: 70vw;
  color: #54585a;
}
.carousel .indicators {
  width: fit-content !important;
  width: -moz-fit-content !important;
  height: 32px;
  margin: auto;
  padding: 0px 6px;
  border-radius: 6px;
  background-color: #857437;
}
.carousel .indicators .indicator-item {
  margin: 12px 6px 0px 6px;
}

/* HEADER */
@media only screen and (max-width: 601px) {
  .header-text {
    text-align: center;
  }
}
.header-logo {
  display: inline-block;
  height: 64px;
  vertical-align: middle;
}

/* OVERVIEW */
@media only screen and (min-width: 601px) {
  .overview-divider {
    display: none;
  }
}

/* ABOUT */
.about-container {
  padding-bottom: 4px;
}
.about-text p {
  margin: 0;
}
.about-text ul {
  margin: 0.5rem 0 0.5rem 2rem;
}
.about-text li {
  list-style-type: disc !important;
}

/* NEWS */
.news-item {
  display: flex;
  flex-flow: column nowrap;
}
.news-item-date {
  font-weight: 600;
  font-style: italic;
  flex-shrink: 0;
}
.news-item-text {
  font-weight: 300;
  font-size: 11pt;
}
.news-item-container .row:last-of-type {
  margin-bottom: 0px;
}

/* PEOPLE */
.people-container {
  padding-bottom: 12px;
}
.people-card-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
}
@media only screen and (max-width: 601px) {
  .people-card-container {
    justify-content: center;
  }
}
.people-card {
  display: flex;
  flex-flow: column nowrap;
  max-width: 144px;
  margin: 8px 4px;
}
@media only screen and (max-width: 601px) {
  .people-card {
    max-width: 112px;
  }
}
.people-card-img {
  width: 144px;
  height: 144px;
  object-fit: cover;
  overflow: hidden;
}
@media only screen and (max-width: 601px) {
  .people-card-img {
    width: 112px;
    height: 112px;
  }
}
.people-card .card-image .card-title {
  font-size: 11pt;
  font-weight: 600;
  text-shadow: 1px 1px 3px #000000;
  padding: 0.5rem;
}
.people-card .card-content {
  padding: 12px;
  flex-grow: 1;
}
.people-card .card-action {
  text-align: center;
  padding: 12px;
}
.people-card-name {
  color: #54585a;
  font-weight: 700;
  font-size: 11pt;
  margin-bottom: 4px;
}
.people-card-title {
  color: #54585a;
  font-weight: 600;
  font-size: 10pt;
}
.people-card-keywords {
  font-size: 9pt;
}
.people-card .card-action a {
  margin-right: 4px !important;
  color: #eaaa00 !important;
}
.people-card .card-action i {
  font-size: 18px;
}
.people-card .card-action img {
  display: inline;
  width: 18px;
}
@media only screen and (max-width: 601px) {
  .people-card .card-action i {
    font-size: 14px;
  }
  .people-card .card-action img {
    width: 14px;
  }
}
.people-alumni-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 192px));
}
.people-alumni-header-container {
  margin-bottom: 12px;
}
.people-alumni-header {
  font-size: 16pt;
  font-weight: 600;
  line-height: 2rem;
  border-bottom: 2px solid #f0b310;
}

/* PROJECTS */
.projects-card-container {
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (max-width: 601px) {
  .projects-card-container {
    justify-content: center;
  }
}
.project-card {
  max-width: 256px;
  margin: 12px 8px;
}
@media only screen and (max-width: 601px) {
  .project-card {
    max-width: 192px;
  }
}
.project-card-img {
  padding: 0 12px;
  margin-bottom: 12px;
  object-fit: contain;
  width: 256px !important;
  height: 192px !important;
}
@media only screen and (max-width: 601px) {
  .project-card-img {
    width: 192px !important;
    height: 144px !important;
  }
}
.project-card .card-content {
  padding: 0 12px;
  margin-bottom: 24px;
}
.project-card .card-content :not(p:last-of-type) {
  margin-bottom: 4px !important;
}
.project-card-title {
  font-weight: 700;
  font-size: 12pt;
  line-height: 1.3rem;
}
.project-card-text {
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.3rem;
}
.project-card-publications {
  padding-left: 24px;
  margin: 0;
  font-size: 10pt;
  line-height: 1.2rem;
}
.project-card-publications li {
  padding-left: 12px;
  margin-bottom: 12px;
}

/* PUBLICATIONS */
.publications-section-header {
  font-size: 16pt;
  font-weight: 600;
  line-height: 2rem;
  border-bottom: 2px solid #f0b310;
}
.publications-section-subtitle {
  font-size: 14pt;
  font-weight: 300;
  line-height: 2rem;
  vertical-align: top;
}
.publication-container {
  background: white;
  border: 12px solid white;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
@media only screen and (min-width: 601px) {
  .publication-container {
    display: flex;
  }
}
.publication-img-container {
  display: flex;
  align-items: center;
  padding-right: 0 !important;
}
.publication-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media only screen and (min-width: 601px) {
  .publication-img {
    max-height: 100px;
  }
}
.publication-content {
  margin-top: 0;
  margin-bottom: 8px;
}
.publication-title {
  font-size: 12pt;
  font-weight: 600;
}
.publication-authors {
  font-size: 11pt;
}
.publication-venue {
  font-size: 11pt;
  font-weight: 300;
}
.publication-actions {
  margin: 0;
}

/* FOOTER */
.footer-container {
  background-color: #262626;
}
.footer-copyright {
  font-weight: 600;
  padding: 24px !important;
  background-color: #161614 !important;
}
.footer-copyright .container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
@media only screen and (max-width: 601px) {
  .footer-pipe-divider {
    display: none;
  }
  .footer-copyright .container {
    flex-flow: column wrap;
  }
}

/* DIVIDER */
.divider {
  width: 64px;
  height: 8px;
  margin: 24px auto;
  background-color: #eaaa00;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: auto;
}
body::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #eee;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 2px #eee solid;
  background-color: #bbb;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #888;
}

/* OTHER */
a:hover {
  text-decoration: underline;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
