/* GENERAL */
body {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  background: center / cover no-repeat fixed url("/assets/images/bg/techsquare.png");
}
a:hover {
  text-decoration: underline;
}
b {
  font-weight: 400;
}
h5 {
  font-weight: 700;
}

/* NAVIGATION */
#nav {
  background: linear-gradient(to right, #a4925a 0%, #b3a369 100%) !important;
  position: relative;
}
#nav a:hover {
  text-decoration: none;
}
#nav ul li.active {
  background-color: rgba(0 0 0 / 0%);
}
#nav ul li a {
  display: inline-block;
  padding: 0;
  margin: 0 12px;
  line-height: 2em;
  font-weight: 700;
  color: white;
  transition: border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}
#nav ul li.active a {
  border-bottom-color: #f0b310;
}
#nav ul li a:hover {
  background-color: unset;
  border-bottom-color: #f0b310;
}
.navbar-fixed {
  position: fixed;
  width: 100%;
}
.brand-logo {
  display: flex !important;
  white-space: nowrap;
}
.nav-bar-logo {
  width: 48px;
  height: 48px;
}
.nav-bar-logo-title {
  font-weight: 900;
  color: white;
}
@media only screen and (min-width: 0) {
  .brand-logo {
    height: 56px;
  }
  .nav-bar-logo {
    margin: 4px;
  }
}
@media only screen and (min-width: 601px) {
  .brand-logo {
    height: 64px;
  }
  .nav-bar-logo {
    margin: 8px;
  }
}
.sidenav-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidenav-logo-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255 255 255 / 90%);
}
.sidenav-logo {
  width: 48px;
  height: 48px;
  position: relative;
  top: 8px;
  left: 8px;
}
.sidenav .user-view .name {
  padding-bottom: 16px;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px #000000;
}
.sidenav li > a {
  font-size: 1.64rem;
  font-weight: 700;
}
.sidenav li > a > i.material-icons {
  font-size: 3rem;
  width: auto;
}
.sidenav li > a,
.sidenav li > a > i.material-icons {
  height: 96px;
  line-height: 96px;
}

/* PAGE CONTENT */
.page-container {
  scroll-behavior: smooth;
}
.page-content-container {
  padding: 76px 12px 12px 12px;
  min-height: calc(100vh - 64px);
  background: rgba(255 255 255 / 90%);
  box-shadow: 0 0 4px 4px rgb(255 255 255 / 90%);
}
@media only screen and (max-width: 601px) {
  .page-content-container {
    padding: 64px 12px 12px 12px;
  }
}

/* HEADER */
#header {
  padding: 0 0.75rem;
  text-align: center;
}
#header span {
  font-size: clamp(2rem, 4vw + 1rem, 3rem);
  font-weight: 900;
}
#header img {
  display: inline-block;
  height: 64px;
  vertical-align: middle;
}

/* GALLERY */
.gallery-container {
  margin: 12px 0;
}
.carousel .indicators {
  width: fit-content !important;
  width: -moz-fit-content !important;
  height: 32px;
  margin: auto;
  padding: 0px 6px;
  border-radius: 6px;
  background-color: #857437;
}
.carousel .indicators .indicator-item {
  margin: 12px 6px 0px 6px;
}
.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item-container {
  display: flex;
  height: 360px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.carousel-img {
  max-width: 70vw;
  max-height: 300px;
  border-radius: 6px;
  object-fit: contain;
  overflow: hidden;
}
.carousel-caption {
  margin-top: 6px;
  font-size: 1.1rem;
  font-weight: 400;
  max-width: 70%;
  color: #54585a;
}

/* OVERVIEW */
@media only screen and (min-width: 601px) {
  .overview-divider {
    display: none;
  }
}
.description-container li {
  font-weight: 400;
}

/* ABOUT */
.about-container {
  padding-bottom: 4px;
}
.about-text p {
  margin: 0;
}
.about-text ul {
  margin: 0.5rem 0 0.5rem 2rem;
}
.about-text li {
  list-style-type: disc !important;
}

/* NEWS */
.news-item {
  display: flex;
  flex-flow: column nowrap;
}
.news-item-date {
  font-weight: 400;
  font-style: italic;
  flex-shrink: 0;
}
.news-item-text {
  font-size: 1rem;
}
.news-item-container .row:last-of-type {
  margin-bottom: 0px;
}

/* CARD ANIMATIONS */
.people-card,
.project-container,
.publication-container {
  background: #ffffff;
  -webkit-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  -ms-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  transition: background-color 100ms linear, transform 0.2s ease-in-out;
}
.people-card:hover,
.project-container:hover,
.publication-container:hover {
  transform: scale(1.025);
  background: #efefef;
  -webkit-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  -ms-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  transition: background-color 100ms linear, transform 0.2s ease-in-out;
}

/* PEOPLE */
.people-container {
  padding-bottom: 12px;
}
.people-card-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 24px;
}
@media only screen and (max-width: 601px) {
  .people-card-container {
    justify-content: center;
  }
}
.people-card {
  display: flex;
  flex-flow: column nowrap;
  max-width: 144px;
  margin: 8px 4px;
}
@media only screen and (max-width: 601px) {
  .people-card {
    max-width: 112px;
  }
}
.people-card-img {
  width: 144px;
  height: 144px;
  object-fit: cover;
  overflow: hidden;
}
@media only screen and (max-width: 601px) {
  .people-card-img {
    width: 112px;
    height: 112px;
  }
}
.people-card .card-image .card-title {
  font-size: 1.3rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px #000000;
  padding: 0.5rem;
}
.people-card .card-content {
  padding: 12px;
  flex-grow: 1;
}
.people-card .card-action {
  padding: 12px;
}
.people-card-name {
  color: #54585a;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 4px;
}
.people-card-title {
  color: #54585a;
  font-size: 0.95rem;
  font-weight: 700;
}
.people-card-keywords {
  font-size: 0.95rem;
  font-weight: 300;
}
.people-card .card-action a {
  display: inline-block;
  color: #eaaa00 !important;
}
.people-card .card-action span {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: none;
  text-decoration: underline transparent;
}
.people-card .card-action i {
  font-size: 18px;
}
.people-card .card-action img {
  display: inline;
  width: 18px;
}
@media only screen and (max-width: 601px) {
  .people-card .card-action {
    padding: 10px;
  }
  .people-card .card-action span {
    font-size: 0.95rem;
  }
  .people-card .card-action i {
    font-size: 14px;
  }
  .people-card .card-action img {
    width: 14px;
  }
}
.people-alumni-header-container {
  margin-bottom: 24px;
}
.people-alumni-header {
  font-size: 1.64rem;
  font-weight: 700;
  line-height: 2rem;
  border-bottom: 2px solid #f0b310;
}
.people-alumni-grid {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 224px));
  justify-content: center;
  gap: 6px 12px;
}
@media only screen and (max-width: 768px) {
  .people-alumni-grid {
    text-align: unset;
    justify-content: unset;
  }
}

/* PROJECTS */
.projects-elem-container {
  padding: 0 12px;
}
.project-container {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
@media only screen and (min-width: 601px) {
  .project-container {
    display: flex;
  }
}
.project-img-container {
  display: flex;
  align-items: center;
  padding-right: 0 !important;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 601px) {
  .project-img-container {
    padding-bottom: 12px !important;
    margin-bottom: 12px !important;
    border-bottom: solid 1px #ccc;
  }
}
@media only screen and (min-width: 601px) {
  .project-img {
    max-height: 100px;
  }
}
.project-content {
  margin-top: 0;
  margin-bottom: 8px;
}
.project-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.project-text {
  font-size: 1.1rem;
}
.project-related {
  font-weight: 400;
}
.project-related-title {
  margin: 0 0 6px 0;
}
.project-related-grid {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 32px 1fr;
  row-gap: 6px;
}
.project-related-arrow {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
  justify-self: center;
}

/* PUBLICATIONS */
.publications-section-header {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  border-bottom: 2px solid #f0b310;
}
.publications-section-subtitle {
  font-size: 1rem;
  line-height: 2rem;
  vertical-align: top;
}
.publications-elem-container {
  padding: 0 12px;
}
.publication-container {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
@media only screen and (min-width: 601px) {
  .publication-container {
    display: flex;
  }
}
.publication-img-container {
  display: flex;
  align-items: center;
  padding-right: 0 !important;
}
.publication-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 601px) {
  .publication-img-container {
    padding-bottom: 12px !important;
    margin-bottom: 12px !important;
    border-bottom: solid 1px #ccc;
  }
}
@media only screen and (min-width: 601px) {
  .publication-img {
    max-height: 100px;
  }
}
.publication-content {
  margin-top: 0;
  margin-bottom: 8px;
}
.publication-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.publication-authors {
  font-size: 1.1rem;
  font-weight: 400;
}
.publication-venue {
  font-size: 1rem;
  font-style: italic;
}
.publication-actions {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
}

/* FOOTER */
.footer-container {
  background-color: #262626;
}
.footer-links {
  font-weight: 400;
}
.footer-copyright {
  font-weight: 400;
  padding: 24px !important;
  background-color: #161614 !important;
}
.footer-copyright .container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
@media only screen and (max-width: 601px) {
  .footer-pipe-divider {
    display: none;
  }
  .footer-copyright .container {
    flex-flow: column wrap;
  }
}

/* DIVIDER */
.divider {
  width: 64px;
  height: 8px;
  margin: 24px auto;
  background-color: #eaaa00;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #6a6a6a;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #a6a6a6;
}

/* OTHER */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
